<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>First_Django's blog</title>
</head>
<body>
    <h1>AskDjango</h1>
    <p>안녕하세요. Hello. Guten Tag. ;)</p>

    <ul>
    {% for post in post_list %}
        <li>
            {{ post.id  }}
            {{ post.title }}
            <small>{{ post.author }}</small>
            <small>{{ post.updated_at }}</small>
        </li>
    {% endfor %}
    </ul>

    <ul>
        <li>Try accessing to http://127.0.0.1:8000/blog</li>
        <li>Reason why the template path is set as blog/templates/blog/post_list.html<br/>
            instead of blog/templates/post_list.html will be explained later.</li>
    </ul>
</body>
</html>