{% extends "blog/layout.html" %}
{% block content %}
    <p>
    안녕하세요. Hello. Guten Tag. ;)
    </p>

    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="search"/>
    </form>

    <ul>
        {% for post in post_list %}
        <li>
            {{ post.id  }}
            <a href="{% url "post_detail" post.id %}">
                {{ post.title }}
            </a>
            <small>{{ post.author }}</small>
            <small>{{ post.updated_at }}</small>
        </li>
        {% endfor %}
    </ul>

    <ul>
        <li>Try accessing to http://127.0.0.1:8000/blog</li>
        <li>Reason why the template path is set as blog/templates/blog/post_list.html<br/>
            instead of blog/templates/post_list.html will be explained later.</li>
    </ul>
{% endblock %}